@model SchoolManagement.Model.Entity.WorkSchedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.scheduleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduleEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThemeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.archived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classRoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classRoomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffMemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffMemberId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
