@model IEnumerable<SchoolManagement.Model.Entity.Subject>

@{
    ViewBag.Title = "CreateReport";
}

    <div class="container">

        <h2 class="text-center">Create a report for @ViewBag.StudentName</h2>
        <h4 class="text-center">Select a subject</h4>

        <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-8">

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassName.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassName.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            
                            <td>
                                <a href="@Url.Action("CreateReportPage", new { studentid=ViewBag.StudentID, subject = item.Name })" class="btn btn-success">Select</a>
                            </td>
                        </tr>
                    }

                </table>

            </div>

            <div class="col-md-2">
            </div>

        </div>

        

    </div>





