@model IEnumerable<SchoolManagement.Models.Room_Type>

@{
    ViewBag.Title = "Index";
}

<h2>Room Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_Occupants)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_Occupants)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Room_TypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.Room_TypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Room_TypeId })
        </td>
    </tr>
}

</table>
