@model IEnumerable<SchoolManagement.Models.CartModels.Order>

@{
    var order = ViewBag.Status;
    ViewBag.Title ="Customer Orders | " + order;
}
<style type="text/css">
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<h2 class="title text-center">@ViewBag.Title</h2>

<table class="table table-hover table-striped" id="my_list">
    <thead>
        <tr class="table-header-row">
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Customer
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Order_ID)
                </td>
                <td>
                    @item.date_created.ToLongDateString()
                </td>
                <td>
                    @item.date_created.ToLongTimeString()
                </td>
                <td>
                    @item.Customer.FirstName  @item.Customer.LastName 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <a href="@Url.Action("Order_Details","Orders", new { id=item.Order_ID })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        }

    </tbody>

</table>

<script type="text/javascript">
    $('#my_list').ModelsTable(
          {
              dom: 'Bfrtip',
              lengthMenu: [
                  [ 10, 25, 50, -1 ],
                  [ '10 rows', '25 rows', '50 rows', 'Show all' ]
              ],
              buttons: [
                  'pageLength', 'pdf', 'print'
              ]
          }
        );
    $('#my_list')
       .removeClass('display')
       .addClass('table table-striped table-hover');
</script>
