@model SchoolManagement.Models.CartModels.Item

@{
    ViewBag.Title = "Delete Item?";
}

<h2 class="title text-center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-10 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-warning"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">Please Note</span>
                <br />
                <b>This information and all its sub-content will be permanently removed.</b>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-4">
                <img src="Models:image/png;base64,@Convert.ToBase64String(Model.Picture, 0, Model.Picture.Length)" style="width: 300px; height: 300px" alt="" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>@Html.LabelFor(model => Model.ItemCode)</th>
                        <td>
                            @Html.DisplayFor(model => model.ItemCode)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => Model.Name)</th>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>
                            @Html.DisplayFor(model => model.Category.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => Model.Description)</th>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => Model.QuantityInStock)</th>
                        <th>
                            @Html.DisplayFor(model => model.QuantityInStock)
                        </th>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(model => Model.Price)</th>
                        <th>
                            @Html.DisplayFor(model => model.Price)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-default" href="@Url.Action("Index","Items")">
                                <i class="fa fa-angle-left"></i>
                                Back to List
                            </a>
                        </td>
                        <td>
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
