@model SchoolManagement.Model.Entity.AssignTeacheToClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignTeacheToClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeacherClassId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
